:root {
  --bg: #fff;
  --text: #333;
  --accent: #4CAF50;
  --bac: #fff;
  --tr: translateY(-10px);
}

.dark-mode {
  --bg: #1a1a1a;
  --text: #f4f4f4;
  --bac: rgba(43, 40, 40, 0.148);
  --tr: translateY(-20px);
}

.{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background 0.3s;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: var(--bg);
  color: var(--text);
}

header {
  background: var(--accent);
  color: #fff;
  padding: 1rem;
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.hero {
  background: linear-gradient(to right, #4CAF50, #2196F3);
  color: #fff;
  text-align: center;
  padding: 5rem 1rem;
  animation: fadeIn 1s;
  height: 90vh;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.card {
  background: var(--bac);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: var(--tr);
}

section {
  padding: 4rem 1rem;
}

footer {
  background: var(--accent);
  color: #fff;
  text-align: center;
  padding: 1rem;
}
/* Responsive */
@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .hero {
        padding: 3rem 1rem;
    }
    nav{
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
    }
    .hero h1{
      font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
      header nav ul {
        flex-direction: column; /* Stack vertically on small screens */
        align-items: center;
        gap: 0.5rem;
    }
}
